/* import de la typo */


/* ------------------------------
            RESET
 ---------------------------------*/
*{
    margin: 0; /* pas de marges par défaut */
    padding: 0; /* pas de padding par défaut */
    box-sizing: border-box;  /* Ne change pas la taille de la boite si j'ajoute des paddings ou des broder. je garde le controle de ma boite.*/
}

input,textarea{
    border: none;
    padding: 8px 16px;
}

a{
    text-decoration: none;
}

h1{
    font-family: "Montserrat",sans-serif;
    font-size: 40px;
}

h1,h2,h3,p{
    color: #3E2C23;
}

li{
    list-style: none;
}

i{
    color:#C8A27A ;
}

/* ------------------------------
            TEXTES
 ---------------------------------*/

.decoration-none {
    text-decoration: none; /* retirer la ligne sous le texte */
}

.list-type-none{
    list-style-type: none; /*retirer la puces des listes */
}

.bold-800{
    font-weight: 800; /* mettre en gras */
}

.bold-600{
    font-weight: 600;
}

.text-center{
    text-align: center; /* centrer le texte */
}

.texte-left{
    text-align: left;
}

.uppercase{
    text-transform: uppercase; /* mettre en majuscule */
}

.black{
    color: #3E2C23;
}

.beige{
    color: #C8A27A;
}

.lato{
    font-family: "Lato",sans-serif;
}

.montserrat{
    font-family: "Montserrat",sans-serif;
}

.font-size-20{
    font-size: 20px;
}

.font-size-30{
    font-size: 30px;
}

.text-center{
    text-align: center;
}



/* ------------------------------
            LARGEURS
 ---------------------------------*/

.w-100{
    width: 100%;
}

.w-max{
    width: max-content;
}

.w-90{
    width: 90%;
}


.w-50 {
    width: 50%;
}

.w-48{
    width: 48%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-20{
    width: 20%;
}

.w-10{
    width: 10%;
}

.img-100{
    width: 100%;
    height: 200px;
}

.w-50g{
    width: calc(50% - 8px);
}

.w30g{
    width: calc(30% - 8px);
}

/* ------------------------------
            FLEXBOX
 ---------------------------------*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-nowrap{
    display: flex;
    flex-wrap: nowrap;
}

.row-reverse{
    flex-direction: row-reverse;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.gap-8{
    gap: 8px;
}

.gap-16{
    gap: 16px;
}

.gap-32{
    gap: 32px;
}

.column{
    flex-direction: column;
}



/* ------------------------------
         MARGIN & PADDING 
 ---------------------------------*/

 /* Margin */

.mt-16 {
    margin-top: 16px;
}

.mb-16{
    margin-bottom: 16px;
}

.mt-32{
    margin-top: 32px;
}

.mb-32{
    margin-bottom: 32px;
}

.mt-64{
    margin-top: 64px;
}

.mb-64{
    margin-bottom: 64px;
}

.mt-128{
    margin-top: 128px;
}

.mb-128{
    margin-bottom: 128px;
}

.ml-16{
    margin-left: 16px;
}

/* padding */

.padding{
    padding: 5px 10px;
}


.pb-16{
    padding-bottom: 16px;
}

.pt-16{
    padding-top: 16px;
}

.pb-32{
    padding-bottom: 32px;
}

.pt-32{
    padding-top: 32px;
}

.pb-32{
    padding-bottom: 32px;
}

.pb-64{
    padding-bottom: 64px;
}

.pt-64{
    padding-top: 64%;
}

.pt-128{
    padding-top: 128px;
}

.pb-128{
    padding-bottom: 128px;
}

.pl-card{
    padding-left: 8px;
    padding-right: 8px;
}

.pl-card-beige{
    padding: 12px;
}

/* ------------------------------
            CONTAINER
 ---------------------------------*/

.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container-1200{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container-800{
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20%;
}

/*----------------- 
    BACKGROUND
-------------------*/

.bg-beige{
    background-color: #C8A27A;
}

.bg-hero{
    background-image: url("asset/photographe/HERO2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
}

.bg-hero-2{
    background-image: url(asset/photographe/coming-soon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-input{
    background-color: #d2baa5;
}

.card{
    background-color:#FFFFFF;
    width: 30%;
    border-radius: 20px;
}

.card-avis{
    background-color:#FFFFFF;
    max-width: 400px;
    border-radius: 20px;
}

.card-beige{
    background-color:#C8A27A;
    width: 30%;
    border-radius: 20px;

}

/*--------------
    BOUTON
---------------*/

.btn-black{
    padding: 10px 30px;
    background-color:#C8A27A ;
    color: #3E2C23;
    display: inline-block;
    font-size: 15px;
    font-family: "lato",sans-serif;
    transition: 0.5;
}

.btn-white{
     padding: 10px 30px;
    background-color:#FFFFFF ;
    color:#3E2C23 ;
    display: inline-block;
    font-size: 15px;
}

.btn-contact{
    padding: 10px 30px;
    background-color:#C8A27A ;
    color: #3E2C23;
    display: inline-block;
    font-size: 15px;
    font-family: "lato",sans-serif;
}

.btn-black:hover{
    background-color: #debdac;
    transform: scale(1.1);
    box-shadow:0px 5px 15px #3E2C23;

}

.btn-white:hover{
    transform: scale(1.1);
    box-shadow:0px 5px 15px #3E2C23;
}


/*-------------
    POSITIONS
---------------*/

.fixed{
    position: fixed;
}



/*OVERFLOW*/

.overflow{
    overflow-x: scroll;
}